{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Connexion" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">

    <div class="card shadow">
      <div class="card-header bg-danger text-white text-center">
        <h4>{% trans "Connexion" %}</h4>
      </div>

      <div class="card-body">
        <form method="post">
          {% csrf_token %}

          <div class="mb-3">
            <label class="form-label">{% trans "Nom d'utilisateur" %}</label>
            <input type="text" name="username" class="form-control" required>
          </div>

          <div class="mb-3">
            <label class="form-label">{% trans "Mot de passe" %}</label>
            <input type="password" name="password" class="form-control" required>
          </div>

          <button type="submit" class="btn btn-danger w-100">
            {% trans "Se connecter" %}
          </button>
        </form>
      </div>

    </div>

  </div>
</div>
{% endblock %}
