{% extends 'base.html' %}

{% block titre %}Utilisateur{% endblock %}

{% block content %}

<h1>Connexion</h1>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li style="color:red;">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post">
    {% csrf_token %}
    <p>
        <label>Email :</label>
        <input type="email" name="email" required>
    </p>
    <p>
        <label>Mot de passe :</label>
        <input type="password" name="password" required>
    </p>
    <button type="submit">Se connecter</button>
</form>

<p>Pas encore inscrit ? <a href="{% url 'inscription' %}">Créer un compte</a></p>



{% endblock %}