{% extends 'base.html' %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <div class="card shadow-sm">
                <div class="card-header bg-success text-white text-center">
                    <h4 class="mb-0">Connexion</h4>
                </div>

                <div class="card-body">

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email"
                                   name="email"
                                   class="form-control"
                                   placeholder="exemple@email.com"
                                   required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Mot de passe</label>
                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   required>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-success">
                                Se connecter
                            </button>
                        </div>
                    </form>

                </div>

                <div class="card-footer text-center">
                    <p class="mb-0">
                        Pas encore inscrit ?
                        <a href="{% url 'inscription' %}" class="text-danger fw-bold">
                            Créer un compte
                        </a>
                    </p>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}
