{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Accueil" %}{% endblock %}

{% block content %}    
<div class="container mt-5">
<!-- HERO SECTION -->
 <div class="p-5 mb-5 bg-success text-white text-center rounded-3">
        <h2 class="display-5 fw-bold">
            Donner du sang sauve des vies ❤️
        </h2>
            
        <p class="fs-4 mt-3 mb-4">
            Trouvez ou proposez un don de sang près de chez vous
        </p>

    <div class="container py-5 text-center">
        {% if user.is_authenticated %}
            {% if user.role == 'DEMANDEUR' %}
                <a href="{% url 'inscription' %}" class="btn btn-light btn-lg px-4">
                    Besoin de sang
                </a>
                <a href="{% url 'creer_demande' %}" class="btn btn-outline-light btn-lg px-4">
                    Devenir un donneur de sang
                </a>
            {% elif user.role == 'DONNEUR' %}
                <a href="{% url 'inscription' %}" class="btn btn-light btn-lg px-4">
                    Donner du sang
                </a>
                <a href="{% url 'dashboard_don' %}" class="btn btn-outline-light btn-lg px-4">
                    Accéder au Dashboard Donneur
                </a>

            {% elif user.role == 'HOPITAL' %}
                <a href="{% url 'dashboard_hopital' %}" class="btn btn-light btn-lg px-4">
                    Accéder au Dashboard Hôpital
                </a>
            
            {% endif %}
        {% else %}
            <div class="d-flex justify-content-center gap-3 flex-wrap">
                <a href="{% url 'inscription' %}" class="btn btn-light btn-lg px-4">
                    Je veux donner du sang
                </a>

                <a href="#" class="btn btn-outline-light btn-lg px-4">
                    J'ai besoin de sang
                </a>
            </div>
            <i>Connectez-vous ou inscrivez-vous pour avoir accès aux fonctionnalités</i>

        {% endif %}

    </div>
</div>

</div>
{% endblock %}
